body {
    /* background: red; */
}

.calender {
    width: 350px;
    margin: 0 auto;
    .firstday {
        background:  orange;
        color:  #fff; 
    }
    .today {
        color: green;
        border: 1px solid green;
    }
    .selected {
        background: olivedrab;
        color: #fff;
    }
    .disabled {
        background: gray;
    }
    .invalid {
        background: pink;
    }
    .weekdays {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        span {
            display: flex;
            flex-grow: 1;
            width: 50px;
            justify-content: center;
            text-transform: uppercase;
        }
    }

    .select-months {
        display: flex;
        width: 200px;
        margin: 0 auto;
        justify-content: space-between;
        .show-months {
            display: flex;
            text-transform: uppercase;
            .months {
                margin-right: 10px;
            }
        }
    }

    .calender-months {
        display: flex;
        flex-wrap: wrap;
        .day {
            display: flex;
            box-sizing: border-box;
            width: 50px;
            justify-content: center;
            align-items: center;
            height: 30px;
        }
        
        
    }
}




