body {
    /* background: red; */
}

.calender {
    width: 350px;
    margin: 0 auto;
}

.calender .header {
    display: flex;
    justify-content: space-between;
}

.calender .header span {
    border: 1px solid red;
    display: flex;
    flex-grow: 1;
}
.calender-months {
    display: flex;
    flex-wrap: wrap;
    
}

.calender-months .day {
    display: flex;
    width: 50px;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.selected {
    background: olivedrab;
    color: #fff;
}